<h2 style="text-align: center">Mobile Phone Brands</h2>
<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'" href="" >
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    <b>Description</b> {{ product.description }}
    <br/><br/>
    <b>Positions:</b> {{ product.nmb }}
  </p>

  <select id="mySelector">
    <option value="model_1"> {{ product.model_1 }} </option>
    <option value="model_2"> {{ product.model_2 }} </option>
    <option value="model_3"> {{ product.model_3 }} </option>
    <option value="model_4"> {{ product.model_4 }} </option>
    <option value="model_5"> {{ product.model_5 }} </option>
  </select>

  <br/>
  <br/>

  <button (click)="addToCart(product.idSelect)">
    Buy
  </button>
 


</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->